* {
  box-sizing: border-box;
}
body {
  font-family: "roboto", arial, sans-serif;
}
.container {
  width: 720px;
}
.tab {
  width: 100%;
  position: relative;
  display: block;
  overflow-x: hidden;
}
.tab__nav {
  list-style: none;
  padding: 0 0;
  width: 100%;
  white-space: nowrap;
  background-color: #CCC;
  margin-bottom: 10px;
}
.tab__item {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 7px 15px;
  font-weight: 500;
  cursor: pointer;
}
.tab__item-link {
  color: #3b3b3b;
  text-decoration: none;
}
.tab__item-marker {
  width: 100%;
}
.tab__item-marker__bar {
  bottom: 0;
  display: block;
  height: 2px;
  margin-top: -2px;
  position: relative;
  transition: left 0.8s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  background-color: #ff4081;
}
.tab__content {
  width: 100%;
  position: relative;
  display: flex;
}
.tab__panel {
  flex-shrink: 0;
  overflow: auto;
  width: 100%;
}
